<!doctype html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
    <title>HOME</title>
</head>
<body>
    <div class="container-fluid" layout:fragment="page-content">
        El administrador puede vender y hacer el mantenimiento de productos
        <br>
        El vendedor solo puede vender.

        Saludos!
    </div>
</body>
</html>